* `Pandas seaborn plotly 연습과제`
- 과제는 평가의 목적이 아니라 배운 것을 연습하고 성장하는데 있습니다. 과제가 어렵다면 동료의 도움을 받거나 동료의 과제를 보고 따라해 보는 것을 적극 권장합니다.
- <font color="red">그래프 설정에 따라 선의 색상 등이 다르게 표시될 수 있으나 수치 값이 맞으면 제대로 과제를 진행한 것이니 걱정하지 않아도 됩니다. 궁금한 점은 강의실 수업 채널에 남겨주세요!</font>
- 배운것의 느낌이나 해당 데이터셋을 통해 응용해 본것을 공유하는 것은 괜찮지만
- 과제는 오늘코드의 저작물로 `전체 파일`을 블로그 깃헙 등에 그대로 업로드하거나 공유하는 것을 금지합니다.

In [1]:
# 테스트를 위해 아래 셀을 실행해 주세요.
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

%matplotlib inline

In [2]:
df = sns.load_dataset("diamonds")
print(df.shape)
df.head()

(53940, 10)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

## 1. price 가 높은 순으로 정렬 한 후 상위 5개만 출력해 주세요.
* 다음의 결과가 출력되도록 합니다.
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carat</th>
      <th>cut</th>
      <th>color</th>
      <th>clarity</th>
      <th>depth</th>
      <th>table</th>
      <th>price</th>
      <th>x</th>
      <th>y</th>
      <th>z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>27749</th>
      <td>2.29</td>
      <td>Premium</td>
      <td>I</td>
      <td>VS2</td>
      <td>60.8</td>
      <td>60.0</td>
      <td>18823</td>
      <td>8.50</td>
      <td>8.47</td>
      <td>5.16</td>
    </tr>
    <tr>
      <th>27748</th>
      <td>2.00</td>
      <td>Very Good</td>
      <td>G</td>
      <td>SI1</td>
      <td>63.5</td>
      <td>56.0</td>
      <td>18818</td>
      <td>7.90</td>
      <td>7.97</td>
      <td>5.04</td>
    </tr>
    <tr>
      <th>27747</th>
      <td>1.51</td>
      <td>Ideal</td>
      <td>G</td>
      <td>IF</td>
      <td>61.7</td>
      <td>55.0</td>
      <td>18806</td>
      <td>7.37</td>
      <td>7.41</td>
      <td>4.56</td>
    </tr>
    <tr>
      <th>27746</th>
      <td>2.07</td>
      <td>Ideal</td>
      <td>G</td>
      <td>SI2</td>
      <td>62.5</td>
      <td>55.0</td>
      <td>18804</td>
      <td>8.20</td>
      <td>8.13</td>
      <td>5.11</td>
    </tr>
    <tr>
      <th>27745</th>
      <td>2.00</td>
      <td>Very Good</td>
      <td>H</td>
      <td>SI1</td>
      <td>62.8</td>
      <td>57.0</td>
      <td>18803</td>
      <td>7.95</td>
      <td>8.00</td>
      <td>5.01</td>
    </tr>
  </tbody>
</table>

In [26]:
sort_by_price = df.sort_values("price",ascending=False,ignore_index="True")
sort_by_price.head()

   carat        cut color clarity  depth  table  price     x     y     z
0   2.29    Premium     I     VS2   60.8   60.0  18823  8.50  8.47  5.16
1   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90  7.97  5.04
2   1.51      Ideal     G      IF   61.7   55.0  18806  7.37  7.41  4.56
3   2.07      Ideal     G     SI2   62.5   55.0  18804  8.20  8.13  5.11
4   2.00  Very Good     H     SI1   62.8   57.0  18803  7.95  8.00  5.01

## 2. carat 은 높은 순으로 depth 는 낮은순으로 정렬을 해서 다음의 결과가 나오도록 출력합니다.
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carat</th>
      <th>cut</th>
      <th>color</th>
      <th>clarity</th>
      <th>depth</th>
      <th>table</th>
      <th>price</th>
      <th>x</th>
      <th>y</th>
      <th>z</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>27415</th>
      <td>5.01</td>
      <td>Fair</td>
      <td>J</td>
      <td>I1</td>
      <td>65.5</td>
      <td>59.0</td>
      <td>18018</td>
      <td>10.74</td>
      <td>10.54</td>
      <td>6.98</td>
    </tr>
    <tr>
      <th>27630</th>
      <td>4.50</td>
      <td>Fair</td>
      <td>J</td>
      <td>I1</td>
      <td>65.8</td>
      <td>58.0</td>
      <td>18531</td>
      <td>10.23</td>
      <td>10.16</td>
      <td>6.72</td>
    </tr>
    <tr>
      <th>27130</th>
      <td>4.13</td>
      <td>Fair</td>
      <td>H</td>
      <td>I1</td>
      <td>64.8</td>
      <td>61.0</td>
      <td>17329</td>
      <td>10.00</td>
      <td>9.85</td>
      <td>6.43</td>
    </tr>
    <tr>
      <th>25998</th>
      <td>4.01</td>
      <td>Premium</td>
      <td>I</td>
      <td>I1</td>
      <td>61.0</td>
      <td>61.0</td>
      <td>15223</td>
      <td>10.14</td>
      <td>10.10</td>
      <td>6.17</td>
    </tr>
    <tr>
      <th>25999</th>
      <td>4.01</td>
      <td>Premium</td>
      <td>J</td>
      <td>I1</td>
      <td>62.5</td>
      <td>62.0</td>
      <td>15223</td>
      <td>10.02</td>
      <td>9.94</td>
      <td>6.24</td>
    </tr>
  </tbody>
</table>

In [34]:
sort_by_c_d = df.sort_values(["carat","depth"],ascending=[False,True])
sort_by_c_d.head()

       carat      cut color clarity  depth  table  price      x      y     z
27415   5.01     Fair     J      I1   65.5   59.0  18018  10.74  10.54  6.98
27630   4.50     Fair     J      I1   65.8   58.0  18531  10.23  10.16  6.72
27130   4.13     Fair     H      I1   64.8   61.0  17329  10.00   9.85  6.43
25998   4.01  Premium     I      I1   61.0   61.0  15223  10.14  10.10  6.17
25999   4.01  Premium     J      I1   62.5   62.0  15223  10.02   9.94  6.24

## 3. 다음의 결과가 나오도록 groupby를 써서 연산을 하고 count 값이 높은 순으로 정렬하고 상위 3개값만 출력합니다.
* 아래의 결과가 출력되도록 합니다.
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
      <th>sum</th>
    </tr>
    <tr>
      <th>clarity</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>SI1</th>
      <td>13065</td>
      <td>52207755</td>
    </tr>
    <tr>
      <th>VS2</th>
      <td>12258</td>
      <td>48112520</td>
    </tr>
    <tr>
      <th>SI2</th>
      <td>9194</td>
      <td>46549485</td>
    </tr>
  </tbody>
</table>

In [66]:
df["clarity"].groupby(df["clarity"]).count().sort_values(ascending = False)

clarity
SI1     13065
VS2     12258
SI2      9194
VS1      8171
VVS2     5066
VVS1     3655
IF       1790
I1        741
Name: clarity, dtype: int64

In [ ]:
df["clarity"].groupby(df["clarity"]).sum().sort_values(ascending = False)

## 4. pivot_table을 사용해서 아래의 결과가 출력되도록 합니다. 각 값은 price 의 합계가 되도록 계산합니다.
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>color</th>
      <th>D</th>
      <th>E</th>
      <th>F</th>
      <th>G</th>
      <th>H</th>
      <th>I</th>
      <th>J</th>
    </tr>
    <tr>
      <th>cut</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Fair</th>
      <td>699443</td>
      <td>824838</td>
      <td>1194025</td>
      <td>1331126</td>
      <td>1556112</td>
      <td>819953</td>
      <td>592103</td>
    </tr>
    <tr>
      <th>Good</th>
      <td>2254363</td>
      <td>3194260</td>
      <td>3177637</td>
      <td>3591553</td>
      <td>3001931</td>
      <td>2650994</td>
      <td>1404271</td>
    </tr>
    <tr>
      <th>Ideal</th>
      <td>7450854</td>
      <td>10138238</td>
      <td>12912518</td>
      <td>18171930</td>
      <td>12115278</td>
      <td>9317974</td>
      <td>4406695</td>
    </tr>
    <tr>
      <th>Premium</th>
      <td>5820962</td>
      <td>8270443</td>
      <td>10081319</td>
      <td>13160170</td>
      <td>12311428</td>
      <td>8491146</td>
      <td>5086030</td>
    </tr>
    <tr>
      <th>Very Good</th>
      <td>5250817</td>
      <td>7715165</td>
      <td>8177367</td>
      <td>8903461</td>
      <td>8272552</td>
      <td>6328079</td>
      <td>3460182</td>
    </tr>
  </tbody>
</table>

In [ ]:
# 버전에 따라 출력순서가 다르게 나옵니다. 순서가 달라도 각 집계 값이 맞으면 상관 없습니다.
# table

In [ ]:
# 예제와 똑같이 출력하려면 아래 처럼 사용할 수도 있습니다.
# table.loc[["Fair", "Good", "Ideal", "Premium", "Very Good"]]

## 5. cut 컬럼의 값이 Ideal 이고 color 가 G인 데이터를 가져와서 아래의 컬럼만 출력이 되게 해주세요.
* ["carat","clarity", "depth", "table", "price"]
* 이 때, price 가 높은 순으로 위에서 3개만 출력되게 해주세요.
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>carat</th>
      <th>clarity</th>
      <th>depth</th>
      <th>table</th>
      <th>price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>27747</th>
      <td>1.51</td>
      <td>IF</td>
      <td>61.7</td>
      <td>55.0</td>
      <td>18806</td>
    </tr>
    <tr>
      <th>27746</th>
      <td>2.07</td>
      <td>SI2</td>
      <td>62.5</td>
      <td>55.0</td>
      <td>18804</td>
    </tr>
    <tr>
      <th>27741</th>
      <td>2.15</td>
      <td>SI2</td>
      <td>62.6</td>
      <td>54.0</td>
      <td>18791</td>
    </tr>
  </tbody>
</table>

## 6. 다음의 결과가 출력되도록 새로운 컬럼을 추가하고 새로만든 컬럼의 값을 value_counts() 로 구해보세요.
1. price 컬럼에서 900 보다 작은 값(900포함 안 됨)을 찾아서 category 라는 새로운 컬럼을 만들고 "low"라는 값을 넣습니다.
1. price 컬럼에서 5000 보다 큰 값(5000 포함 안 됨)을 찾아서 category 라는 새로운 컬럼에 "high"라는 값을 넣습니다.
1. 나머지 값은 fillna 를 통해 "medium" 이라는 값으로 채웁니다.
그리고 새로만든 df["category"] 컬럼의 카테고리 값을 집계합니다. 아래의 값이 출력됩니다.
```
medium    26899
high      14714
low       12327
Name: category, dtype: int64
```

## 7. clarity 컬럼의 value_counts 로 위에서 3개의 값을 가져오고 top이라는 변수에 담아주세요.
* top 이라는 변수에서 아래의 index 값만 추출합니다. 그리고 아래의 결과를 top_index 라는 변수에 담습니다.
```
CategoricalIndex(['SI1', 'VS2', 'SI2'], categories=['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1'], ordered=False, dtype='category')
```

In [ ]:
# clarity 컬럼의 value_counts 로 위에서 3개의 값을 가져오고 top이라는 변수에 담아주세요.
# 그리고 아래 코드를 실행했을 때 categories=['IF', 'VVS1', 'VVS2', 'VS1', 'VS2', 'SI1', 'SI2', 'I1'], 
# ordered=False, dtype='category')가 출력되게 해주세요.
# 판다스 버전의 차이로 출력되는 내용이 아래와 같을 수 있습니다.

## 8. 위에서 추출한 top_index 변수에 담긴 값을 "clarity" 컬럼에서 isin 으로 가져오세요.
df_top 이라는 변수에 담고 해당 변수에 담긴 값의 크기가 다음과 같이 출력되도록 해주세요. `(34517, 11)`

## 9. 위에서 구한 `df_top` 변수에 담긴 데이터로 아래의 그래프가 그려지도록 해주세요.
<img src="https://i.imgur.com/VADh2ke.png" width="400">

## 10.위에서 구한 `df_top` 변수에 담긴 데이터로 아래의 그래프가 그려지도록 해주세요.
<img src="https://i.imgur.com/Xf8afVS.png" width="400">

In [ ]:
# seaborn 버전 업데이트로 출력 모습이 다릅니다.

## 11. 판다스를 사용해서 전체 수치변수에 대한 히스토그램을 그려주세요. 막대의 개수(bins)는 100개로 합니다.

<img src="https://i.imgur.com/hX32byV.png" width="500">

## 12. plotly를 통해 "carat", "depth", "cut" 을 scatterplot으로 다음과 같이 시각화 해주세요.

<img src="https://i.imgur.com/wFM9v2t.png" width="700">

## 13. plotly를 통해 "carat"별 "price"의 분포를 "cut"별로 다른 색상으로 scatterplot으로 다음과 같이 시각화 해주세요.

<img src="https://i.imgur.com/wptSV5h.png" width="700">

## 14. plotly를 통해 carat, price 의 scatterplot을 그려주세요. 아래 이미지 처럼 박스, 바이올린 플롯도 함께 그려주세요.

<img src="https://i.imgur.com/RST46TI.png" width="700">

## 15. plotly를 통해 다음 그림과 같이 scatter_matrix 를 그리고 cut 별로 색상을 다르게 표현해 주세요.

<img src="https://i.imgur.com/Pz4R7mx.png" width="700">

In [ ]:
# height=1000 으로 세로 길이를 변경할 수 있습니다.

## 16. plotly를 통해 cut별 빈도수를 histogram 으로 그려주세요.
* histfunc="count"로 빈도수를 그릴 수 있습니다.

<img src="https://i.imgur.com/pnQGp2s.png" width="700">

## 17. plotly를 통해 "color" 별 빈도수를 histogram 으로 그려주세요. 색상에는 cut 변수를 지정합니다. 
* histfunc="count"로 빈도수를 그릴 수 있습니다.


<img src="https://i.imgur.com/Tdarv5S.png" width="700">

## 18. plotly를 통해 "color" 별 빈도수를 histogram 으로 그려주세요.  cut 변수에 따라 서브플롯을 그려주세요. 
* histfunc="count"로 빈도수를 그릴 수 있습니다.


<img src="https://i.imgur.com/5HIm5Jn.png" width="700">

## 19. plotly를 통해 cut별 price의 합계를 구해주세요.
* histogram으로 시각화 하고 histfunc="sum"으로 그릴 수 있습니다.

<img src="https://i.imgur.com/0ET01BV.png" width="700">

## 20. plotly를 통해 cut별 price의 평균을 구해주세요.
* histogram으로 시각화 하고 histfunc="avg"로 그릴 수 있습니다.

<img src="https://i.imgur.com/QQOPNF8.png" width="700">

## 21. plotly를 통해 cut 별 price 의 사분위수를 boxplot으로 시각화 해주세요.


<img src="https://i.imgur.com/xrFPXfT.png" width="700">

## 22. plotly를 통해 "cut"별 "price" 가격의 분포를 violinplot으로 시각화 해주세요.


<img src="https://i.imgur.com/l2dL12g.png" width="700">